# Case Study on Testing of Hypothesis
#### SUBMITTED BY: SHUHAIB TP

In [28]:
#importing libraries

import pandas as pd
import numpy as np
import scipy.stats as stats

In [29]:
# Read Data
Data=pd.read_csv("Sales_add.csv")
Data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [30]:
#Primary check on data
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

### A company started to invest in digital marketing as a new way of their product promotions.For that they collected data and decided to carry out a study on it.
### ● The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.
### ● The company needs to check whether there is any dependency between the features “Region” and “Manager”.
### Help the company to carry out their study with the help of data provided.

In [31]:
#Descriptive analysis of data
Data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

### Hypothesis
Null Hypothesis H0: There is no increase in sales after digital marketing

Alternative Hypothesis Ha: increase in sales after digital marketing

In [32]:
#The sample data give is less than 30 then we use t test
bfore_Ad = Data['Sales_before_digital_add(in $)']
after_Ad = Data['Sales_After_digital_add(in $)']
tvalue,pvalue=stats.ttest_ind(bfore_Ad,after_Ad)
stats.ttest_ind(bfore_Ad,after_Ad)
tcriteria=(stats.t.ppf((1-0.05),26))
stats.t.ppf((1-0.05),26)

1.7056179197592727

In [33]:
if np.abs(tvalue)>np.abs(tcriteria) and pvalue<0.05:
    print('Reject Null Hypothesis')
else:
    print('Accept Null Hypothesis')

Reject Null Hypothesis

##### By rejecting null hypothesis it is stating that there is increase in sales after digital marketing

In [34]:
## The company needs to check whether there is any dependency between the features “Region” and “Manager”.
crosstab = pd.crosstab(Data["Region"], Data["Manager"])
crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [36]:
t,p,deg_f,ar = stats.chi2_contingency(crosstab)
print('t:',t,', p:',p)
chi_crit_val=stats.chi2.ppf(1-0.05,4)
print('Critical Value:',chi_crit_val)
#H0: no dependency between the features, Ha: dependency between features
alpha = 0.05
if (p<= alpha and t>chi_crit_val):
  print("Reject Null Hypothesis-There is a dependency between features")
else:
  print("Accept Null Hypothesis-There is no dependency between the features")

t: 3.050566893424036 , p: 0.5493991051158094
Critical Value: 9.487729036781154
Accept Null Hypothesis-There is no dependency between the features

Hence There is no dependency between manager and region